# Virtual environment
venv/

# Dataset (too large, publicly redownloadable)
data/*.csv

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Node (for frontend, later)
node_modules/

*.pkl